<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Ilearnedtoday</title>
        <meta charset="utf-8">
        {% load static %}
        <script type="text/javascript" src="{% static 'study/js/script.js'%}"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'study/css/homestyle.css' %}">
        <script type="text/javascript" src="{% static 'study/js/script.js'%}"></script>

    </head>
    <body>
        
        
        {%block menu%} {%endblock%}
        {%block card%} {%endblock%}
        
        {%block blog%} {%endblock%}


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>

