@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+VN:wght@100..400&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
	background-color:rgba(255, 255, 255, 0.829);
	color:black;

}

.dark-mode{
	background-color:#2e2e2e;
	color:white;
  
}

#navbar {
  background-color: #e3f2fd;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  left: 50%;
  top: 2vh;
  width: 70%;
  height: 6vh;
  border-radius:5cm;
  transition: top 0.3s;
  z-index: 1000;
}

#navbar menu {
  display: flex;
  justify-content:right;
  align-items: stretch;
  width: 100%; 
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

#navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  flex: 1;
  text-align: center;
}

#menu-home-icon {
  text-align: left;
}

#menu-mode-icon {
  text-align: right;
}

#menu-title {
  justify-self: stretch;
}

p {
  display: block;
	width: 60%; 
	margin-left:auto; 
	margin-right:auto; 
	padding:10vh 0 10vh 0; 
	text-align:justify;
  font-family: 'Georgia', serif; 
  font-size: 1.2rem; 
  line-height: 1.6; 
  text-indent: 1.5em; 
  font-weight: 400; 
  color: #333;
}
