{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <title>Create an Account</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <section class="vh-100 gradient-custom">
                    <div class="main" class="form-group">
                        <form method="POST" class="form-group" action="#" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            <p> Haven't got an account? 
                                <a href="/register" >Register</a>
                            </p>
                            <button type="submit" class="btn btn-success">Login</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>

        {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
    </body>
</html>

